<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arma_3_Mission_Creator_by_Aroun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Arma_3_Mission_Creator_by_Aroun.Properties.Settings>
            <setting name="AuthorDefault" serializeAs="String">
                <value>Noob</value>
            </setting>
            <setting name="TagDefault" serializeAs="String">
                <value>DA3F</value>
            </setting>
            <setting name="MapDefault" serializeAs="String">
                <value>VR.sqm</value>
            </setting>
            <setting name="FolderNameDefault" serializeAs="String">
                <value>Mission by A3MC</value>
            </setting>
            <setting name="MissionNameDefault" serializeAs="String">
                <value>Libération des moches</value>
            </setting>
            <setting name="DescriptionDefault" serializeAs="String">
                <value>Libérez les moches</value>
            </setting>
        </Arma_3_Mission_Creator_by_Aroun.Properties.Settings>
    </userSettings>
</configuration>